# TELEGRAM BOT
TELEGRAM_BOT_TOKEN=123456789:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
TELEGRAM_CHAT_ID=-1001234567890
NEXT_PUBLIC_TELEGRAM_CHANNEL_URL=https://t.me/ziyo_yogdusi

# META PIXEL & CAPI
NEXT_PUBLIC_META_PIXEL_ID=1234567890123456
META_CAPI_ACCESS_TOKEN=EAAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
META_TEST_EVENT_CODE=

# SAYT
NEXT_PUBLIC_SITE_URL=https://ziyo-yogdusi.uz

